In [4]:
import pandas as pd

# 文件路径
file_path = './data/8113502025_2023-11-08.parquet'

# 直接读取Parquet文件到DataFrame
df = pd.read_parquet(file_path)

df.to_csv('./data/origindata.csv',encoding='utf-8-sig',index=False)

In [10]:
dff = df[(df['name']=='motor_speed') | (df['name']=='motor_torque')]

In [6]:
df['name'].unique()

array(['motor_speed', 'motor_torque', 'main_ctrl_word',
       'main_status_word', 'igbt_case_temp', 'igbt_junction_temp',
       'frequency_hz', 'motor_current', 'motor_power', 'charging_counter',
       'acs800_temp_%', 'pp_1_temp_c', 'pp_2_temp_c', 'pp_3_temp_c',
       'pp_4_temp_c', 'ctrl_board_temp', 'drive_at_any_limit',
       'limit_word_inv', 'motor_nominal_torque', 'min_speed_limit_mode',
       'max_speed_limit_mode', 'energy_consumption', 'time_of_usage',
       'motor_runtime', 'saved_kwh_kwh', 'saved_gwh_gwh',
       'maximum_current_a_a'], dtype=object)

In [11]:
dff.to_csv('./data/origindata_o.csv',encoding='utf-8-sig',index=False)

In [12]:
dff

       parameter          name value               timestamp serialNumber
0          01.02   motor_speed   0.0 2023-11-08 00:59:01.610   8113502025
1          01.02   motor_speed   0.0 2023-11-08 00:59:03.230   8113502025
2          01.02   motor_speed   0.0 2023-11-08 00:59:03.580   8113502025
3          01.02   motor_speed   0.0 2023-11-08 00:59:04.430   8113502025
4          01.02   motor_speed   0.0 2023-11-08 00:59:05.420   8113502025
...          ...           ...   ...                     ...          ...
374612     01.05  motor_torque   0.0 2023-11-08 20:49:11.250   8113502025
374613     01.05  motor_torque   0.0 2023-11-08 20:49:12.260   8113502025
374614     01.05  motor_torque   0.0 2023-11-08 20:49:13.270   8113502025
374615     01.05  motor_torque   0.0 2023-11-08 20:49:14.270   8113502025
374616     01.05  motor_torque   0.0 2023-11-08 20:49:15.290   8113502025

[124396 rows x 5 columns]